// Specific CSS for your home-page
.home-banner-text {
  padding: 240px 0 0 0;
  font-size: 50px;
  font-weight: 700;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#home-banner-text-link {
  color: #1190cb;
}

#home-banner-text-link:hover {
  color: white;
}
