// Import page-specific CSS files here.

//i donnt think you need to import home here
@import "home";

@import "components/_alert";
@import "components/_avatar";
@import "components/_form_legend_clear";
@import "components/_navbar";
@import "components/_footer";
@import "components/_home-banner";
@import "components/_cards";
@import "components/_search-form-control";
@import "components/_banner-show";
@import "components/_show";

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #39520D;
}
