<div class="home-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-4 mx-auto">
        <div class="card h-100 border-primary justify-content-center">
          <div class="card-header">
          <br>
          <h5>Booking confirmed!</h5>
          </div>
          <br>
          <div class="card-body">
            <h5 class="card-title">Date: <%= @booking.start_on %></h5>
            <p class="card-text">Number of People: <%= @booking.num_trekkers %></p>
            <%= link_to "Go to my dashboard", dashboard_path, class: "btn btn-dark" %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
