<div class="banner" style="background-image: url('https://source.unsplash.com/random/featured/?nature')">
  <div class="container">
    <h1>Your booking has been confirmed!</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-6 col-md-4">
      <p>Date: <%= @booking.start_on %></p>
      <p>Number of People: <%= @booking.num_trekkers %></p>
    </div>
     <div>
          <%= link_to "Go to my dashboard", dashboard_path, class: "btn btn-dark" %>
        </div>
  </div>
</div>
