.d-block {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.d-block h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.full-carousel {
  img {
    height: calc(100vh - 66px);
  }
}


h4{
  color: #39520D;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
