.home-banner {
  background-image: asset-url('hike-default.jpg');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 66px);
  width: auto;
  text-align: center;
}

.title {
  color: #F3EEE9;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  padding-top: 100px;
  font-weight: 400;
  letter-spacing: 2px;
}

.h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 40px;
}


//.h2.text-center {
 // margin: 0;
 // color: #39520D;
 // font-size: 50px;
 // font-weight: bold;
  //padding-bottom: 40px;
//}

.text-center {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #39520D;
}

.cards {
  background-color: #F3EEE9;
  margin: 24px;
  /* border-radius: 20px; */
}

.cards > .card {
  background-color: white;
  box-shadow: none;
  border: none;
  /* border-radius: 20px; */
  color: #3C3F22;
}

.card > img {
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
}


body{
  background: #F3EEE9;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #8C664D;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #8C664D;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #8C664D;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: #B3B0AB;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

a:hover {
  color: #39520D;
}


p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}


@media (min-width: 1200px) {
  h4, .h4 {
      font-size: 1.5rem;
      color: #39520D;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400px;
      letter-spacing: 2px;
  }
}


.btn-dark {
  color: #fff;
  background-color: #8C664D;
  border-color: #212529;
  opacity: 90;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 16px;
}


#title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}


#subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 17px;
}
