.home-banner {
  background-image: asset-url('background-field.jpg');
  background-size: cover;
  height: 100vh;
  width: auto;
  text-align: center;
}

.title {
  color: white;
}

.h1 {
  margin: 0;
  border: 1px solid red;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 40px;
}


.h2 {
  margin: 0;
  color: rgb(113, 34, 34);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 40px;
}
