.navbar-lewagon {
  justify-content: space-between;
  background: #DAD3C9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
}

.navbar .fa-heart {
  color: #D23333;
}
